.Item{
    margin-top: 90px;
    display: grid;
    gap: 20px;
grid-template-columns: repeat(3,1fr);
margin-left: 5/auto
i}
.first{
    max-width: 350px;
    border-radius: 5px;
   border: 3px solid rgb(7, 213, 213);

}
.container{
    margin-left: 10px;
}
.bag{
    padding-top: 10px;
   border: 2px solid darkcyan;
   border-radius: 8px;
   width: 400px;
   text-align: center;
padding-bottom: 10px;
}
.text{
    grid-column: -4/4;
    text-align: center;
    margin-top: 50px;
}

.container:nth-child(4){
/* background-color: red; */
grid-column: 2/2;
}